.navbar {
  opacity: .8;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

#introduction {
  background: url('https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  min-height: 95vh;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.flex-container{
  padding-top: 20px;
  padding-bottom: 20px;
  display:flex; 
  flex-direction: column;
  align-items: center; 
  min-height: 95vh; 
  height: auto; 
}

#photo{
  height: 150px;
  width: 150px;
}

.p{
  font-size: 1rem;
}

#projects {
  height: auto;
}

#certifications {
  height: auto;
}

.no-wrap{
  text-wrap: nowrap;
}

.mb{
  margin-bottom: 150px;
}

.projectImage{
 max-height: 125px;
 width: auto;
 object-fit: scale-down;
}

@media only screen and (min-width: 350px) {
  #photo{
    height: 250px;
    width: 250px;
  }
  .p {
    font-size: 1.2rem;
    text-align: justify;
  }

}

@media only screen and (min-width: 1050px) {

  .flex-container{
    flex-direction: row;
  }

  #photo {
    height: 350px;
    width: 350px;
  }

  h1{
    font-size: 2.5rem;
  }

  .p{
    font-size: 1.6rem;
  }

  #text {
    display: flex;
  }

}
